services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper-clickhouse
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - default

  clickhouse-node1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clickhouse-node1
    ports:
      - "9000:9000"
      - "8123:8123"
    environment:
      - CLICKHOUSE_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
      - CLICKHOUSE_SHARD=1
      - CLICKHOUSE_REPLICA=replica_1
    depends_on:
      - zookeeper
    networks:
      - default

  clickhouse-node2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clickhouse-node2
    ports:
      - "9001:9000"
      - "8124:8123"
    environment:
      - CLICKHOUSE_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
      - CLICKHOUSE_SHARD=1
      - CLICKHOUSE_REPLICA=replica_2
    depends_on:
      - zookeeper
    networks:
      - default

  clickhouse-node3:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clickhouse-node3
    ports:
      - "9002:9000"
      - "8125:8123"
    environment:
      - CLICKHOUSE_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
      - CLICKHOUSE_SHARD=2
      - CLICKHOUSE_REPLICA=replica_1
    depends_on:
      - zookeeper
    networks:
      - default

  clickhouse-node4:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: clickhouse-node4
    ports:
      - "9003:9000"
      - "8126:8123"
    environment:
      - CLICKHOUSE_ZOOKEEPER_CONNECT_STRING=zookeeper:2181
      - CLICKHOUSE_SHARD=2
      - CLICKHOUSE_REPLICA=replica_2
    depends_on:
      - zookeeper
    networks:
      - default

networks:
  default:
    name: ch_network
    external: true